<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Email</th>
  </tr>
  <% @accounts.each do |account| %>
  <tr>
    <td><%= account.email %></td>
    <td><%= link_to 'Show', account_path(account) %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account_path(account),
            method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Account', new_account_path %>
